body {
    margin: auto;
    padding: 5vw;
    font-family: monospace;
  }
  
  input {
    font-size: 2em;
    margin: 10px 1px 0;
  }

  .container {
    text-align: center;
    padding-bottom: 10vh;
    padding: 10px;
  }

  .menu {
    margin: 2vh;
  }

  button {
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    background-color: pink;
    border: none;
  }

  button:hover {
    background-color: #e7e7e7;
  }

  .squaregrid {
      display: grid;
      grid-template-columns: repeat(15, auto);
      column-gap: 1px;
      row-gap: 1px;
      padding: 5vh;
      justify-content: center;
  }

  .singlesquare {
    background-color: pink;
    width: 1vw;
    height: 1vw;
  }